/* scrollbar.css - scrollbar customizada */
.custom-scrollbar-track {
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 99;
}
.custom-scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-orange-1);
  border-radius: 5px;
  cursor: grab;
}
main::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
