{% extends "base.html" %}

{% block title %}StudyHub AI - Home{% endblock %}

{% block content %}
<section class="features-section">
    <div class="container py-5">
        
        <div class="features-container">

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Criação de grupos de estudo</h3>
                    <p class="card-text">personalizados por matéria/tema</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Partilha de materiais</h3>
                    <p class="card-text">educativos entre membros</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Assistente de IA</h3>
                    <p class="card-text">para esclarecimento de dúvidas</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Sistema de comunicação</h3>
                    <p class="card-text">em tempo real</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Acompanhamento do progresso</h3>
                    <p class="card-text">de estudos</p>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}


